.board {
    float: left;
    width: 640px;
    height: 640px;
    margin: 20px;
    border: 25px solid #333;
}

.black {
    float: left;
    width: 72px;
    height: 72px;
    background-color: #999;
    font-size: 56px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    cursor: pointer;
    border:4px solid #999;
}

.white {
    float: left;
    width: 72px;
    height: 72px;
    background-color: #FFF;
    font-size: 56px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    cursor: pointer;
    border:4px solid #FFF;
}

.yellow {
    border-color: #E4A022;
}

.red {
    border-color: #E41F22;
}

.green {
    border-color: #4FE442;
}

.menu {
    float: left;
    width: 640px;
    height: 640px;
    margin: 20px;
    background-color: #333;
    border: 25px solid #333;
}

.button {
    font-size: 20px;
    text-align: center;
    margin: 10px;
    border: 0;
    background-color: #999;
    cursor: pointer;
    height: 30px;
}

input {
    height: 22px;
    width: 30px;
}

img {
    width: 70px;
    height: 70px;
}

h1 {
    font-size: 60px;
    text-align: center;
    color: #FFF;
    margin: 0;
}